In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings

In [2]:
data = pd.read_csv(r"C:\Users\mvsan\Downloads\USCensus1990.data.txt",delimiter=',',sep='\t',iterator=True,chunksize=10000)
dataset=pd.concat(data,ignore_index=True)

In [3]:
dataset.head()

,caseid,dAge,dAncstry1,dAncstry2,iAvail,iCitizen,iClass,dDepart,iDisabl1,iDisabl2,...,iTmpabsnt,dTravtime,iVietnam,dWeek89,iWork89,iWorklwk,iWWII,iYearsch,iYearwrk,dYrsserv
0,10000,5,0,1,0,0,5,3,2,2,...,0,5,0,2,1,1,0,11,1,0
1,10001,6,1,1,0,0,7,5,2,2,...,0,1,0,2,1,1,0,5,1,0
2,10002,3,1,2,0,0,7,4,2,2,...,0,2,0,2,1,1,0,10,1,0
3,10003,4,1,2,0,0,1,3,2,2,...,0,1,0,1,1,1,0,10,1,0
4,10004,7,1,1,0,0,0,0,2,2,...,3,0,0,0,2,2,0,5,6,0

In [4]:
dataset.columns

Index(['caseid', 'dAge', 'dAncstry1', 'dAncstry2', 'iAvail', 'iCitizen',
       'iClass', 'dDepart', 'iDisabl1', 'iDisabl2', 'iEnglish', 'iFeb55',
       'iFertil', 'dHispanic', 'dHour89', 'dHours', 'iImmigr', 'dIncome1',
       'dIncome2', 'dIncome3', 'dIncome4', 'dIncome5', 'dIncome6', 'dIncome7',
       'dIncome8', 'dIndustry', 'iKorean', 'iLang1', 'iLooking', 'iMarital',
       'iMay75880', 'iMeans', 'iMilitary', 'iMobility', 'iMobillim', 'dOccup',
       'iOthrserv', 'iPerscare', 'dPOB', 'dPoverty', 'dPwgt1', 'iRagechld',
       'dRearning', 'iRelat1', 'iRelat2', 'iRemplpar', 'iRiders', 'iRlabor',
       'iRownchld', 'dRpincome', 'iRPOB', 'iRrelchld', 'iRspouse', 'iRvetserv',
       'iSchool', 'iSept80', 'iSex', 'iSubfam1', 'iSubfam2', 'iTmpabsnt',
       'dTravtime', 'iVietnam', 'dWeek89', 'iWork89', 'iWorklwk', 'iWWII',
       'iYearsch', 'iYearwrk', 'dYrsserv'],
      dtype='object')

In [5]:
dataset.shape

(2458285, 69)

In [6]:
dataset.shape

(2458285, 69)

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2458285 entries, 0 to 2458284
Data columns (total 69 columns):
 #   Column     Dtype
---  ------     -----
 0   caseid     int64
 1   dAge       int64
 2   dAncstry1  int64
 3   dAncstry2  int64
 4   iAvail     int64
 5   iCitizen   int64
 6   iClass     int64
 7   dDepart    int64
 8   iDisabl1   int64
 9   iDisabl2   int64
 10  iEnglish   int64
 11  iFeb55     int64
 12  iFertil    int64
 13  dHispanic  int64
 14  dHour89    int64
 15  dHours     int64
 16  iImmigr    int64
 17  dIncome1   int64
 18  dIncome2   int64
 19  dIncome3   int64
 20  dIncome4   int64
 21  dIncome5   int64
 22  dIncome6   int64
 23  dIncome7   int64
 24  dIncome8   int64
 25  dIndustry  int64
 26  iKorean    int64
 27  iLang1     int64
 28  iLooking   int64
 29  iMarital   int64
 30  iMay75880  int64
 31  iMeans     int64
 32  iMilitary  int64
 33  iMobility  int64
 34  iMobillim  int64
 35  dOccup     int64
 36  iOthrserv  int64
 37  iPerscare  int64
 38  dPOB       int64
 39  dPoverty   int64
 40  dPwgt1     int64
 41  iRagechld  int64
 42  dRearning  int64
 43  iRelat1    int64
 44  iRelat2    int64
 45  iRemplpar  int64
 46  iRiders    int64
 47  iRlabor    int64
 48  iRownchld  int64
 49  dRpincome  int64
 50  iRPOB      int64
 51  iRrelchld  int64
 52  iRspouse   int64
 53  iRvetserv  int64
 54  iSchool    int64
 55  iSept80    int64
 56  iSex       int64
 57  iSubfam1   int64
 58  iSubfam2   int64
 59  iTmpabsnt  int64
 60  dTravtime  int64
 61  iVietnam   int64
 62  dWeek89    int64
 63  iWork89    int64
 64  iWorklwk   int64
 65  iWWII      int64
 66  iYearsch   int64
 67  iYearwrk   int64
 68  dYrsserv   int64
dtypes: int64(69)
memory usage: 1.3 GB

In [8]:
dataset.describe()

,caseid,dAge,dAncstry1,dAncstry2,iAvail,iCitizen,iClass,dDepart,iDisabl1,iDisabl2,...,iTmpabsnt,dTravtime,iVietnam,dWeek89,iWork89,iWorklwk,iWWII,iYearsch,iYearwrk,dYrsserv
count,2.458285e+06,2.458285e+06,2.458285e+06,2.458285e+06,2.458285e+06,2.458285e+06,2.458285e+06,2.458285e+06,2.458285e+06,2.458285e+06,...,2.458285e+06,2.458285e+06,2.458285e+06,2.458285e+06,2.458285e+06,2.458285e+06,2.458285e+06,2.458285e+06,2.458285e+06,2.458285e+06
mean,1.239142e+06,3.851643e+00,3.299006e+00,1.574252e+00,1.207488e-01,2.880964e-01,1.236083e+00,1.394556e+00,1.432078e+00,1.464860e+00,...,7.939100e-01,1.483541e+00,3.402331e-02,8.310208e-01,1.000718e+00,1.095047e+00,3.844509e-02,8.446546e+00,1.820591e+00,1.391918e-01
std,7.096459e+05,2.048492e+00,4.041179e+00,1.696150e+00,6.709576e-01,9.667118e-01,1.759400e+00,1.760919e+00,8.442641e-01,8.462626e-01,...,1.308956e+00,1.966293e+00,1.812891e-01,8.594720e-01,6.841873e-01,7.437089e-01,1.922683e-01,4.080579e+00,2.108889e+00,4.035386e-01
min,1.000000e+04,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.245710e+05,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,5.000000e+00,1.000000e+00,0.000000e+00
50%,1.239142e+06,4.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,2.000000e+00,2.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+01,1.000000e+00,0.000000e+00
75%,1.853713e+06,6.000000e+00,3.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,3.000000e+00,2.000000e+00,2.000000e+00,...,3.000000e+00,3.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,1.100000e+01,2.000000e+00,0.000000e+00
max,2.468284e+06,7.000000e+00,1.100000e+01,1.200000e+01,4.000000e+00,4.000000e+00,9.000000e+00,5.000000e+00,2.000000e+00,2.000000e+00,...,3.000000e+00,6.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,1.700000e+01,7.000000e+00,2.000000e+00

In [9]:
dataset.isnull().sum()

caseid       0
dAge         0
dAncstry1    0
dAncstry2    0
iAvail       0
            ..
iWorklwk     0
iWWII        0
iYearsch     0
iYearwrk     0
dYrsserv     0
Length: 69, dtype: int64

In [10]:
# get input data as x
x=dataset.iloc[:10000,:].values
x.shape

(10000, 69)

In [ ]:
#using the dendrogram to find the optimal number of cluster
import matplotlib.pyplot as plt
import scipy.cluster.hierarchy as sch
dendrogram = sch.dendrogram(sch.linkage(x,method ='ward'))
plt.title('Dendrogram')
plt.xlabel('Customers')
plt.ylabel('Euclidean distance')
plt.show()

In [ ]:
#fitting HierarchicalClustering to the mall dataset 
from sklearn.cluster import AgglomerativeClustering
hc=AgglomerativeClustering(n_clusters=3,affinity='euclidean',linkage='ward')
y_hc=hc.fit_predict(x)
y_hc